
<div class="signin-up-area">
    <div class="form-cont">
        <div class="form">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <h1 class="h3 mb-5 font-weight-bold"><span> @ViewData["Title"]</span></h1>
                <input id="txtid" name="id" type="hidden"  class="form-control" value="@ViewData["id"]" />
                <input id="txtstatus" name="status"  type="hidden"  class="form-control" value="@ViewData["status"]" />
                <div class="form-group">
                    <label>Password</label>
                    <input name="Password" id="txtpassword" class="form-control" required />
                    
                </div>

                <button type="button" onclick="StatusChanged();" style="width:100px">Save</button>
                <a href="@Url.Action("Index","UserManagement")" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>
</div>
